[Unit]
Description=Niuma Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/data/services/niuma-server
ExecStart=/data/services/niuma-server/niuma-server
Restart=on-failure
RestartSec=5

Environment=NIUMA_HOST=0.0.0.0
Environment=NIUMA_PORT=8000
Environment=NIUMA_LOG_LEVEL=info
Environment=NIUMA_TRANSFER_STORAGE_DIR=/data/services/niuma-server/transfers
EnvironmentFile=-/data/services/niuma-server/.env

[Install]
WantedBy=multi-user.target
